<%- contentFor( 'body' ) %>

    <div class="max-width4">
        <img src="/img/peepo3.jpg" alt="">
    </div>

    <div class="p-3 fade-in" id="div-about">
        <div class="t1 px-3 pt-2">Por que escolhi esse tema?</div>
        <div class="t2 text-justify col-6 pt-3">Escolhi o Pepe, the frog para estilizar a aplicação
            Não havia muitas ideias, então tentei usar elementos de Front-end.</div>
        <div class="t3 text-justify col-6 pt-3"> Deixo aqui também minha gratidão aos professores e ao grupo
            Dentre outros, que me ajudaram a contruir o codigo.</div>
        <div class="t3 text-justify col-6 pt-3">
            <h6>(README)</h6>
        </div>
        <div class="t3 text-justify col-6 pt-3"> OBRIGADO!</div>
    </div>