<header>
    <div class="d-block">
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="nav">
        <ul class="navbar-nav">
            <li>
                <a class="navbar-brand" href="#">
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Cadastro
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/cadastro">Editar Cadastro</a>
                    <a class="dropdown-item" href="/rcadastro">Realizar cadastro</a>
                    <a class="dropdown-item" href="/lista">Lista de Cadastrados</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">Sobre</a>
            </li>

        </ul>
    </nav>
</header>