<%- contentFor( 'body' ) %>
    <div class="d-flex">
        <div class="col-3 pt-5 d-flex">
            <img src="https://ih1.redbubble.net/image.839413284.0422/flat,750x,075,f-pad,750x1000,f8f8f8.u14.jpg"
                width="200" alt="">
        </div>
        <div class="col-5 pt-5 d-block">
            <h1 class="d-flex">Hello</h1>
            <h2 class="d-flex">i'm peepo</h2>
            <h3 class="d-flex">and this is mi web-site</h3>
            <button type="button" class="btn btn-outline-primary" id="butao"><a class="nav-link" href="/cadastro">Less
                    Gooo</a></button>
        </div>
    </div>
    <div class="d-flex">
        <div class="col-6 pt-5 d-block">
            <h1 class="d-flex">Wellcome</h1>
            <h2>this is my firts try, sorry for bugs :(</h2>
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzdNQptY4eNVY-ATSv0Y6z1hZ9y5GQ1fk88A&usqp=CAU"
                width="200px" alt="">
        </div>
    </div>