<%- contentFor( 'body' ) %>
    <!--
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Cadastro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Lista</a>
                        <a class="dropdown-item" href="#">Realizar cadastro</a>
                        <a class="dropdown-item" href="#">Usuarios cadastrados</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div id="image-background">
        <img src="https://cutewallpaper.org/21/pepe-wallpaper-1920x1080/Peepo-the-frog-UHD-Desktop-Wallpaper-for-4K-Ultra-HD-TV.jpg"
            alt="">
    </div>
    -->


    <div class="max-width">
        <img src="https://cutewallpaper.org/21/pepe-wallpaper-1920x1080/Peepo-the-frog-UHD-Desktop-Wallpaper-for-4K-Ultra-HD-TV.jpg"
            alt="">
    </div>

    <div class="p-5 texto-apresentação" id="titulo-1">
        <h1 class="fade-in">Olá</h1>
        <h2 class="fade-in">Essa é a minha versão da aplicação web!</h2>
        <hr class="fade-in">
    </div>


    <div class="pt-2 px-5 texto-apresentação" id="titulo-2">
        <h1 class=" fade-in2">Vamos Começar???</h1>
        <button class="fade-in2"><a href="/cadastro">Lees Gooo</a></button>
    </div>
    <div class="px-5 pt-1 d-flex fade-in2">
        <img src="/img/seta.png" width="100px" alt="">
        <div class="pt-5 px-3" id="cadastro-secundario">
            <div class="pt-5">
                <h2>Ir apra o <a href="/cadastro">Cadastro</a></h2>
            </div>
        </div>
    </div>