<div class="max-width3">
    <img src="https://wallpapercave.com/wp/wp2132644.jpg" alt="">
</div>
<div class="fade-in" id="div-rcad">

    <tbody>
        <% let linkRemove="/cadastro/remove/" ; %>
            <% let linkUpdate="/cadastro/update/" ; %>
                <% let linkAdd="/cadastro/add/" ; %>
                    <% if(users.length>0){%>
                        <%} //If-Else %>

    </tbody>
    </table>
    <div class="fade-in" id="div-rcad">
        <h2 style="font-family: 'Kaisei HarunoUmi', serif;;">Cadastrar novo usuário</h2>
        <form name="cadastro" action="#">
            <div class="form-group">
                <label for="_name">Nome:</label>
                <input type="text" name="_name" id="_name" class="form-control">
            </div>

            <div class="form-group">
                <label for="_email">E-mail:</label>
                <input type="text" name="_email" id="_email" class="form-control">
            </div>

            <div class="form-group">
                <label for="_address">Endereço:</label>
                <input type="text" name="_address" id="_address" class="form-control">
            </div>

            <div class="form-group">
                <label for="_age">Idade:</label>
                <input type="number" name="_age" id="_age" class="form-control">
            </div>

            <div class="form-group">
                <label for="_heigth">Altura:</label>
                <input type="number" name="_heigth" id="_height" class="form-control">
            </div>

            <div class="form-group">
                <label for="_vote">Votou:</label>
                <input type="checkbox" name="_vote" id="_vote" class="form-control">
            </div>

            <div class="form-group d-block text-center">
                <img src="/img/peepo2.png" width="100px" alt="">

                <input id="button1" type="button" onclick="add(document.cadastro,'<%=linkAdd%>')" value="Enviar"
                    class="btn btn-success">
            </div>
        </form>
    </div>
</div>