<div class="max-width3">
    <img src="https://wallpapercave.com/wp/wp2132644.jpg" alt="">
</div>
<div class="fade-in" id="div-rcad">
    <h2 style="font-family: 'Kaisei HarunoUmi', serif;;">Cadastrar novo usuário</h2>

    <div class="form-group">
        <label for="_name">Nome:</label>
        <input type="text" name="_name" data-ind="cadinp" id="_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="_email">E-mail:</label>
        <input type="email" name="_email" data-ind="cadinp" id="_email" class="form-control">
    </div>
    <div class="form-group">
        <label for="_address">Endereço:</label>
        <input type="text" name="_address" data-ind="cadinp" id="_address" class="form-control">
    </div>
    <div class="form-group">
        <label for="_age">Idade:</label>
        <input type="number" name="_age" data-ind="cadinp" id="_age" class="form-control">
    </div>
    <div class="form-group">
        <label for="_heigth">Altura:</label>
        <input type="number" step="0.01" name="_heigth" data-ind="cadinp" id="_heigth" class="form-control">
    </div>
    <div class="form-group">
        <label for="_vote">Votou?(Sim ou Não)</label>
        <input type="text" name="_vote" data-ind="cadinp" id="_vote" class="form-control">
    </div>
    <div class="d-flex text-center">
        <div class="px-3"></div>
        <img src="/img/peepo2.png" width="100px" alt="">
        <div class="d-flex w-50 pt-2" style="text-align:center;">
            <input id="button1" type="submit" value="Enviar" onclick="add('/cadastro/add/')">
        </div>
    </div>
</div>